<nav class="learning-nav">
  <a class="learning-nav__link" href="/tutor">1. Tile Quiz</a>
  <a class="learning-nav__link" href="/coach">2. Hand Coach</a>
  <a class="learning-nav__link" href="/glossary">3. Rules & Glossary</a>
</nav>
